*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    height: 6em;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
}

.logo-con{
    height: 100%;       
    width: 28%;             
    /* background-color: blue;     */
    margin-left: 7%;
    justify-content: center;
    align-items: centre;
    margin-top: 1%;
   
}

.line1{
    height: 85%;
    align-self: center;
    width: 0.01%;
     background-color: rgba(128, 128, 128, 0.144);
}


nav .link-con{
    height: 100%;
    width: 25%;
    /* background-color: pink; */
    display: flex;
    justify-content: right;
}

nav .link-con ul{
    display: flex;
    align-items: center;
    height: 100%;
    width: 90%;
    gap: 10%;
    /* background-color:purple; */
    list-style: none;
    color: grey;
    font-size: 95%;
    margin-right: 10%;
    margin-left: 3%;
    
}




.one{
   height: 3.2em;; 
   width: 100%;
   background-color: rgb(30, 138, 51);
   display: flex;
   align-items: end;
   border-top: solid 4px;
   border-top-color: rgb(134, 10, 10);
   border-bottom: solid 10px;
   border-bottom-color:gainsboro;
   border-width: 100%;
  
}
.one h1{
    color: white;
    margin-left: 8%;
    font-size: 200%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    

}



.login{
   height: 10em; 
   /* background-color:purple; */
   width: 100%;
   display: flex;
   justify-content:center;
   gap: 13%;
}

.login-one{
    height: 100%;
    width: 50%;
    /* background-color: red;  */
    display: flex;
    justify-content: center;
}

.login-two{
    height: 100%;
    width: 20%;
    /* background-color: blue; */
    text-align: center;
}



.mobilization{
    height: 40%;
    width: 98%;
    background-color:rgb(134, 10, 10);
    margin-right: 1%;
    margin-top: 2.5%;
    text-align: center;
    
    

}
.mobi-text{
    color: white;
    margin: 1%;
    font-size: larger;
}

.nysc-year{
    background-color: white;
    color: red;
    font-weight: 600;
    padding: 0.6%;
    border-radius: 6px;
    border: none;
}

.login-two img{
    height: 50%;
    margin: 2%;
}
 
.login-text{
    font-size: larger;
    color: rgb(128, 128, 128);
    margin: 5%;
    font-weight: 700;
   
}
.remobilization{
    height: 10em;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:5px;
   
    
   
}

.remo{
    height: 70%;
    width: 82%;
    /* background-color: pink; */
    border-radius: 10px;
    text-align: center;
    border:solid 2px;
    border-color: rgba(128, 128, 128, 0.199);
    margin-right: 1%;
   


}

.remo-text{
    color: rgb(238, 36, 36);
     font-size: x-large;
     text-align: center;
    margin-top: 2%;
}

.remo-text2{
    font-size: x-large;
    margin-top: 0.5%;
    color: rgba(0, 0, 255, 0.692);
    font-size: medium;
    font-weight:700px;
}
 
.pics{
    height: 12em;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    gap: 3%;
}

.pic-1{
    height:100%;
    width: 25%;
    /* background-color:red; */
    border: solid 2px;
    border-radius: 10px;
    border-color: rgba(128, 128, 128, 0.199);
    text-align: center;
    

}

.pic-2{
    height:100%;
    width: 25%;
    /* background-color: green; */
    border: solid 2px;
    border-radius: 10px;
    border-color: rgba(128, 128, 128, 0.199);
    text-align: center;

}

.pic-3{
    height:100%;
    width: 25%;
    /* background-color: yellow; */
     border: solid 2px;
    border-radius: 10px;
    border-color: rgba(128, 128, 128, 0.199);
    text-align: center;

}

.pic1-text{
    color: rgba(0, 0, 255, 0.644);
    text-align: center;
    font-size: 90%;
    margin-top: 1%;
    
   
}

.pic1-button{
    background-color: rgba(128, 128, 128, 0.267);
    color: rgb(5, 44, 5);
    font-weight: 600;
    padding: 0.6%;
    border-radius: 6px;
    border: none;
    width: 90%;
    height: 18%;
    font-size: 105%;
    margin-bottom: 2%;
}

.pic-1 img{
    margin-top: 10%;
    margin-bottom: 2%;
    margin-right: 3.5%;
}

.pic2-text{
    color: rgba(0, 0, 255, 0.644);
    text-align: center;
    font-size: 90%;
    margin-top: 1%;
    
   
}

.pic2-button{
    background-color: rgba(128, 128, 128, 0.267);
    color: rgb(5, 44, 5);
    font-weight: 600;
    padding: 0.6%;
    border-radius: 6px;
    border: none;
    width: 90%;
    height: 18%;
    font-size: 105%;
    margin-bottom: 2%;
}

.pic2img{
    margin-top: 10%;
    margin-bottom: 1%;
}

.pic3-text{
    color: rgba(0, 0, 255, 0.644);
    text-align: center;
    font-size: 90%;
    margin-top: 1%;
    
   
}

.pic3-button{
    background-color: rgba(128, 128, 128, 0.267);
    color: rgb(5, 44, 5);
    font-weight: 600;
    padding: 0.6%;
    border-radius: 6px;
    border: none;
    width: 90%;
    height: 18%;
    font-size: 105%;
    margin-bottom: 2%;
}

.pic3img{
    margin-top: 10%;
    margin-bottom: 1%;
}



.guidelines{
    height: 4em;
    /* background-color:aqua; */
    width: 82%;
    margin-top: 1%;
    border-bottom: 2px solid;
    border-width: 80%;
    margin-left: 9%;
    margin-right: 9%;
    align-items: end;
    display: flex;
    border-color:rgb(22, 58, 22);
    
}


.guidelines h2{
    margin-bottom: 1%;
    color: rgba(58, 45, 45, 0.863);
}

.guide{
    height: 22em;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
}

.guide1{
    height: 16.5em;
    width: 21%;
    /* background-color:red; */
    margin-top: 2%;
    border-bottom-left-radius: 3%;
    border-top-left-radius: 3%;
    display: flex;
    border: solid 2px;
    border-color:  rgba(128, 128, 128, 0.199);
   
  
}   
    
.guide2{
    height: 17em;
    width: 21%;
    /* background-color:blue; */
    margin-top: 2%;

}   

.guide3{
    height: 20em;
    width: 23%;
    /* background-color:green; */
    margin-top: 0.7%;
    border-radius: 3%;
 
    
}  

.guide4{
    height: 17em;
    width: 20%;
    /* background-color:pink; */
    margin-top: 2%;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    
}  

.guide2 img{
    height: 49%;
    width: 49%;
    margin-top: 37%;
    margin-left: 28%;
    border: none;
   


 }

 .guide1text{
    position: absolute;
    text-align: center;
    margin-top: 3.5%;
    margin-left: 2%;
    color: grey;
    font-weight: bold;
    font-size: 100%;
 }

.guide2{
    height: 16.5em;
    width: 21%;
    /* background-color:red; */
    margin-top: 2%;
    /* border-bottom-left-radius: 3%; */
    /* border-top-left-radius: 3%; */
    display: flex;
    border: solid 2px;
    border-color:  rgba(128, 128, 128, 0.199);
   
  
}   
.guide2text{
    position: absolute;
    text-align: center;
    margin-top: 3.5%;
    margin-left: 2%;
    color: grey;
    font-weight: bold;
    font-size: 100%;
}


.guide1 img{
    height: 49%;
    width: 49%;
    margin-top: 37%;
    margin-left: 27%;
    border: none;
}

.guide3{
    height: 19em;
    width: 23%;
    /* background-color:green; */
    margin-top: 0.7%;
    border-radius: 3%;
    display: flex;
    border: solid 2px;
    border-color:  rgba(128, 128, 128, 0.199);
    
  
}   
.guide3text{
    position: absolute;
    text-align: center;
    margin-top: 5%;
    margin-left: 2%;
    color: grey;
    font-weight: bold;
    font-size: 100%;
}

.guide3 img{
    height: 49%;
    width: 49%;
    margin-top: 37%;
    margin-left: 27%;
    border: none;
}

.guide4{

    height: 16.5em;
    width: 21%;
    /* background-color:red; */
    margin-top: 2%;
    border-bottom-right-radius: 3%;
    border-top-right-radius: 3%;
    display: flex;
    border: solid 2px;
    border-color:  rgba(128, 128, 128, 0.199);
   
  
}   
.guide4text{
    position: absolute;
    text-align: center;
    margin-top: 4%;
    margin-left: 2%;
    color: grey;
    font-weight: bold;
    font-size: 100%;
}


.guide4 img{
    height: 49%;
    width: 49%;
    margin-top: 37%;
    margin-left: 27%;
    border: none;
}
.Important{
    height: 1.5em;
    /* background-color:aqua; */
    width: 82%;
    margin-top: 1%;
    border-bottom: 2px solid;
    border-width: 90%;
    margin-left: 9%;
    margin-right: 9%;
    align-items: end;
    display: flex;
    border-color:rgb(22, 58, 22);
    
}


.Important h2{
    margin-bottom: 1%;
    color: rgba(58, 45, 45, 0.863);
}

.footer{
    height: 12em;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    gap: 3%;
}

.footer1{
    height: 8em;
    width: 27%;
    /* background-color:red; */
    margin-top: 1.5%;
    border-radius: 3%;
    border-left: solid 2px;
    border-bottom: solid 2px;
    border-right: solid 2px;
    border-color:rgba(128, 128, 128, 0.226);
   
}
.footer2{
    height: 6em;
    width: 27%;
    /* background-color:blue; */
    margin-top: 1.5%;
    border-radius: 3%;
    border-left: solid 2px;
    border-bottom: solid 2px;
    border-right: solid 2px;
    border-color:rgba(128, 128, 128, 0.226);
}
.footer3{
    height: 6em;
    width: 27%;
    /* background-color: green; */
    margin-top: 1.5%;
    border-radius: 3%;
    border-left: solid 2px;
    border-bottom: solid 2px;
    border-right: solid 2px;
    border-color:rgba(128, 128, 128, 0.226);
}

.footertext1{
    margin-top: 7%;
    margin-bottom: 5%;
    margin-left: 6%;
    color: rgba(0, 0, 255, 0.644);
    font-size: 100%;
   
}

.footertext1b{
    margin-left: 6%;
    color: rgba(0, 0, 255, 0.644);
    font-size: 100%;


}

.footertext2{
    margin-top: 7%;
    margin-bottom: 5%;
    margin-left: 6%;
    color: rgba(0, 0, 255, 0.644);
    font-size: 100%;
}

.footertext3{
    margin-top: 7%;
    margin-bottom: 5%;
    margin-left: 6%;
    color: rgba(0, 0, 255, 0.644);
    font-size: 100%;
}
.last-con{
    height: 3.5em;
    width: 100%;
    background-color: rgb(8, 70, 8);
    border-top:  solid 4px;
    border-color: rgb(134, 10, 10);
    align-items: center;
    display: flex;
   
    position: fixed;
    z-index: 2;
    bottom: 0;
    
  
    
}

.last-con-text{
    height: 3.5em;
    width: 30%;
    /* background-color:red; */
    text-align: center;
    margin-top: 2%;
    font-size: small;
    margin-left: 4%;
    color: white;
    
   
   
    
}

.last-con-text2{
    height: 3.5em;
    width: 40%;
    /* background-color:blue; */
    text-align:end;
    margin-top: 2%;
    font-size: small;
     margin-left:4%;
    /* padding-right: 2%;  */
    color: white;
    
   
    
}


.last-con-text3{
    height: 3.5em;
    width: 30%;
    /* background-color:orange; */
    text-align:start;
    margin-top: 2%;
    font-size: small;
    margin-right:4%;
    /* padding-right: 4%; */ 
    /* color:rgba(135, 207, 235, 0.781); */

}
